<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="ApiKey" value="YOUR RANDOM GENERATED SECRET API KEY"/>
      <add key="AndroidServerKey" value="YOUR ANDROID SERVER API KEY"/>
      <!--Add here other configurations-->
    </appSettings>
</configuration>